<!DOCTYPE>
<html lang="ja">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/open.css">
    </head>
    <body>
        <article>
            <h1><font size="7" face="serif">ミーニャとポーカーしよう！</font></h1>
        </article>
        <div class="box">
            <p><a href="/start">スタート</a></p>
        </div>
        <div class="moimg">
            <img src="../static/img/kadai77.png" style="display: block;margin: auto;">
        </div>
    </body>
</html>