<!DOCTYPE>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/result2.css">
    </head>
    <table>
        <tr>
            {% if score<scoreC %}
                <td><img src="../static/img/kadai33.png"></td>
            {% elif score>scoreC %}
                <td><img src="../static/img/kadai44.png"></td>
            {% else %}
                <td><img src="../static/img/kadai66.png"></td>
            {% endif %}
            <td>&nbsp;</td>
            <td><font size="7" face="serif">枚数切れ</font></td>
            {% if CpuT==1000 %}
                <th><font size="5" face="serif">ミーニャ ロイヤルストレートフラッシュ！</font></th>
            {% elif CpuT==350 %}
                <th><font size="5" face="serif">ミーニャ ストレートフラッシュ！</font></th>
            {% elif CpuT==200 %}
                <th><font size="5" face="serif">ミーニャ フォアカード！</font></th>
            {% elif CpuT==100 %}
                <th><font size="5" face="serif">ミーニャ フルハウス！</font></th>
            {% elif CpuT==70 %}
                <th><font size="5" face="serif">ミーニャ フラッシュ！</font></th>
            {% elif CpuT==60 %}
                <th><font size="5" face="serif">ミーニャ ストレート！</font></th>
            {% elif CpuT==50 %}
                <th><font size="5" face="serif">ミーニャ スリーカード！</font></th>
            {% elif CpuT==30 %}
                <th><font size="5" face="serif">ミーニャ ツーペア！</font></th>
            {% elif CpuT==10 %}
                <th><font size="5" face="serif">ミーニャ ワンペア！</font></th>
            {% else %}
                <th><font size="5" face="serif">ミーニャ ノーペア！</font></th>
            {% endif %}
        </tr>
    </table>
    <body>
        <article>
            <p><font size="6" face="serif">ミーニャのスコア {{scoreC}}</font></p>
            <h2><font size="7" face="serif">あなたのスコア {{score}}</font></h2>
        </article>
        {% if syuruiM[0]==syuruiM[1] and syuruiM[0]==syuruiM[2] and syuruiM[0]==syuruiM[3] and syuruiM[0]==syuruiM[4] %}
            {% if suujiM[0]==10 and suujiM[1]==11 and suujiM[2]==12 and suujiM[3]==13 and suujiM[4]==14 %}
                <h1><font size="7" face="serif">ロイヤルストレートフラッシュ！</font></h1>
            {% elif suujiMS[0]+1==suujiMS[1] and suujiMS[0]+2==suujiMS[2] and suujiMS[0]+3==suujiMS[3] and suujiMS[0]+4==suujiMS[4] %}
                <h1><font size="7" face="serif">ストレートフラッシュ！</font></h1>
            {% elif fourcardM==17 %}
                <h1><font size="7" face="serif">フォアカード！</font></h1>
            {% elif fullhouseM==13 %}
                <h1><font size="7" face="serif">フルハウス！</font></h1>
            {% else %}
                <h1><font size="7" face="serif">フラッシュ！</font></h1>
            {% endif %}
        {% endif %}
        {% if fourcardM==17 %}
            <h1><font size="7" face="serif">フォアカード！</font></h1>
        {% elif fullhouseM==13 %}
            <h1><font size="7" face="serif">フルハウス！</font></h1>
        {% elif suujiMS[0]+1==suujiMS[1] and suujiMS[0]+2==suujiMS[2] and suujiMS[0]+3==suujiMS[3] and suujiMS[0]+4==suujiMS[4]　%}
            <h1><font size="7" face="serif">ストレート！</font></h1>
        {% elif threecardM==11 %}
            <h1><font size="7" face="serif">スリーカード！</font></h1>
        {% elif twopairM==9 %}
            <h1><font size="7" face="serif">ツーペア！</font></h1>
        {% elif onepairM==7 %}
            <h1><font size="7" face="serif">ワンペア！</font></h1>
        {% elif nopairM==5 %}
            <h1><font size="7" face="serif">ノーペア！</font></h1>
        {% else %}
            <h1>不具合だよ、やり直してね。</h1>
        {% endif %}
        </article>
        {% if My0==H2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2heart.jpg">
            </form>
        {% elif My0==S2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2spead.jpg">
            </form>
        {% elif My0==D2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2daiya.jpg">
            </form>
        {% elif My0==C2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2clover.jpg">
            </form>
        {% elif My0==H3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3heart.jpg">
            </form>
        {% elif My0==S3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3spead.jpg">
            </form>
        {% elif My0==D3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3daiya.jpg">
            </form>
        {% elif My0==C3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3clover.jpg">
            </form>
        {% elif My0==H4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4heart.jpg">
            </form>
        {% elif My0==S4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4spead.jpg">
            </form>
        {% elif My0==D4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4daiya.jpg">
            </form>
        {% elif My0==C4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4clover.jpg">
            </form>
        {% elif My0==H5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5heart.jpg">
            </form>
        {% elif My0==S5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5spead.jpg">
            </form>
        {% elif My0==D5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5daiya.jpg">
            </form>
        {% elif My0==C5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5clover.jpg">
            </form>
        {% elif My0==H6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6heart.jpg">
            </form>
        {% elif My0==S6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6spead.jpg">
            </form>
        {% elif My0==D6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6daiya.jpg">
            </form>
        {% elif My0==C6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6clover.jpg">
            </form>
        {% elif My0==H7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7heart.jpg">
            </form>
        {% elif My0==S7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7spead.jpg">
            </form>
        {% elif My0==D7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7daiya.jpg">
            </form>
        {% elif My0==C7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7clover.jpg">
            </form>
        {% elif My0==H8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8heart.jpg">
            </form>
        {% elif My0==S8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8spead.jpg">
            </form>
        {% elif My0==D8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8daiya.jpg">
            </form>
        {% elif My0==C8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8clover.jpg">
            </form>
        {% elif My0==H9 %}
            <form action="" method="POST" style="display: inline">               
                <img src="../static/img/9heart.jpg">
            </form>
        {% elif My0==S9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9spead.jpg">
            </form>
        {% elif My0==D9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9daiya.jpg">
            </form>
        {% elif My0==C9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9clover.jpg">
            </form>
        {% elif My0==H10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10heart.jpg">
            </form>
        {% elif My0==S10%}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10spead.jpg">
            </form>
        {% elif My0==D10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10daiya.jpg">
            </form>
        {% elif My0==C10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10clover.jpg">
            </form>
        {% elif My0==H11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jheart.jpg">
            </form>
        {% elif My0==S11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jspead.jpg">
            </form>
        {% elif My0==D11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jdaiya.jpg">
            </form>
        {% elif My0==C11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jclover.jpg">
            </form>
        {% elif My0==H12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qheart.jpg">
            </form>
        {% elif My0==S12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qspead.jpg">
            </form>
        {% elif My0==D12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qdaiya.jpg">
            </form>
        {% elif My0==C12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qclover.jpg">
            </form>
        {% elif My0==H13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kheart.jpg">
            </form>
        {% elif My0==S13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kspead.jpg">
            </form>
        {% elif My0==D13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kdaiya.jpg">
            </form>
        {% elif My0==C13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kclover.jpg">
            </form>
        {% elif My0==HA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aheart.jpg">
            </form>
        {% elif My0==SA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aspead.jpg">
            </form>
        {% elif My0==DA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Adaiya.jpg">
            </form>
        {% else %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aclover.jpg">
            </form>
        {% endif %}
        {% if My1==H2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2heart.jpg">
            </form>
        {% elif My1==S2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2spead.jpg">
            </form>
        {% elif My1==D2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2daiya.jpg">
            </form>
        {% elif My1==C2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2clover.jpg">
            </form>
        {% elif My1==H3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3heart.jpg">
            </form>
        {% elif My1==S3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3spead.jpg">
            </form>
        {% elif My1==D3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3daiya.jpg">
            </form>
        {% elif My1==C3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3clover.jpg">
            </form>
        {% elif My1==H4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4heart.jpg">
            </form>
        {% elif My1==S4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4spead.jpg">
            </form>
        {% elif My1==D4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4daiya.jpg">
            </form>
        {% elif My1==C4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4clover.jpg">
            </form>
        {% elif My1==H5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5heart.jpg">
            </form>
        {% elif My1==S5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5spead.jpg">
            </form>
        {% elif My1==D5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5daiya.jpg">
            </form>
        {% elif My1==C5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5clover.jpg">
            </form>
        {% elif My1==H6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6heart.jpg">
            </form>
        {% elif My1==S6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6spead.jpg">
            </form>
        {% elif My1==D6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6daiya.jpg">
            </form>
        {% elif My1==C6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6clover.jpg">
            </form>
        {% elif My1==H7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7heart.jpg">
            </form>
        {% elif My1==S7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7spead.jpg">
            </form>
        {% elif My1==D7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7daiya.jpg">
            </form>
        {% elif My1==C7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7clover.jpg">
            </form>
        {% elif My1==H8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8heart.jpg">
            </form>
        {% elif My1==S8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8spead.jpg">
            </form>
        {% elif My1==D8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8daiya.jpg">
            </form>
        {% elif My1==C8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8clover.jpg">
            </form>
        {% elif My1==H9 %}
            <form action="" method="POST" style="display: inline">               
                <img src="../static/img/9heart.jpg">
            </form>
        {% elif My1==S9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9spead.jpg">
            </form>
        {% elif My1==D9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9daiya.jpg">
            </form>
        {% elif My1==C9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9clover.jpg">
            </form>
        {% elif My1==H10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10heart.jpg">
            </form>
        {% elif My1==S10%}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10spead.jpg">
            </form>
        {% elif My1==D10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10daiya.jpg">
            </form>
        {% elif My1==C10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10clover.jpg">
            </form>
        {% elif My1==H11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jheart.jpg">
            </form>
        {% elif My1==S11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jspead.jpg">
            </form>
        {% elif My1==D11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jdaiya.jpg">
            </form>
        {% elif My1==C11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jclover.jpg">
            </form>
        {% elif My1==H12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qheart.jpg">
            </form>
        {% elif My1==S12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qspead.jpg">
            </form>
        {% elif My1==D12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qdaiya.jpg">
            </form>
        {% elif My1==C12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qclover.jpg">
            </form>
        {% elif My1==H13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kheart.jpg">
            </form>
        {% elif My1==S13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kspead.jpg">
            </form>
        {% elif My1==D13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kdaiya.jpg">
            </form>
        {% elif My1==C13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kclover.jpg">
            </form>
        {% elif My1==HA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aheart.jpg">
            </form>
        {% elif My1==SA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aspead.jpg">
            </form>
        {% elif My1==DA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Adaiya.jpg">
            </form>
        {% else %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aclover.jpg">
            </form>
        {% endif %}
        {% if My2==H2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2heart.jpg">
            </form>
        {% elif My2==S2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2spead.jpg">
            </form>
        {% elif My2==D2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2daiya.jpg">
            </form>
        {% elif My2==C2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2clover.jpg">
            </form>
        {% elif My2==H3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3heart.jpg">
            </form>
        {% elif My2==S3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3spead.jpg">
            </form>
        {% elif My2==D3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3daiya.jpg">
            </form>
        {% elif My2==C3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3clover.jpg">
            </form>
        {% elif My2==H4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4heart.jpg">
            </form>
        {% elif My2==S4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4spead.jpg">
            </form>
        {% elif My2==D4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4daiya.jpg">
            </form>
        {% elif My2==C4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4clover.jpg">
            </form>
        {% elif My2==H5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5heart.jpg">
            </form>
        {% elif My2==S5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5spead.jpg">
            </form>
        {% elif My2==D5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5daiya.jpg">
            </form>
        {% elif My2==C5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5clover.jpg">
            </form>
        {% elif My2==H6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6heart.jpg">
            </form>
        {% elif My2==S6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6spead.jpg">
            </form>
        {% elif My2==D6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6daiya.jpg">
            </form>
        {% elif My2==C6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6clover.jpg">
            </form>
        {% elif My2==H7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7heart.jpg">
            </form>
        {% elif My2==S7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7spead.jpg">
            </form>
        {% elif My2==D7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7daiya.jpg">
            </form>
        {% elif My2==C7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7clover.jpg">
            </form>
        {% elif My2==H8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8heart.jpg">
            </form>
        {% elif My2==S8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8spead.jpg">
            </form>
        {% elif My2==D8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8daiya.jpg">
            </form>
        {% elif My2==C8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8clover.jpg">
            </form>
        {% elif My2==H9 %}
            <form action="" method="POST" style="display: inline">               
                <img src="../static/img/9heart.jpg">
            </form>
        {% elif My2==S9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9spead.jpg">
            </form>
        {% elif My2==D9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9daiya.jpg">
            </form>
        {% elif My2==C9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9clover.jpg">
            </form>
        {% elif My2==H10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10heart.jpg">
            </form>
        {% elif My2==S10%}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10spead.jpg">
            </form>
        {% elif My2==D10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10daiya.jpg">
            </form>
        {% elif My2==C10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10clover.jpg">
            </form>
        {% elif My2==H11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jheart.jpg">
            </form>
        {% elif My2==S11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jspead.jpg">
            </form>
        {% elif My2==D11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jdaiya.jpg">
            </form>
        {% elif My2==C11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jclover.jpg">
            </form>
        {% elif My2==H12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qheart.jpg">
            </form>
        {% elif My2==S12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qspead.jpg">
            </form>
        {% elif My2==D12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qdaiya.jpg">
            </form>
        {% elif My2==C12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qclover.jpg">
            </form>
        {% elif My2==H13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kheart.jpg">
            </form>
        {% elif My2==S13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kspead.jpg">
            </form>
        {% elif My2==D13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kdaiya.jpg">
            </form>
        {% elif My2==C13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kclover.jpg">
            </form>
        {% elif My2==HA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aheart.jpg">
            </form>
        {% elif My2==SA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aspead.jpg">
            </form>
        {% elif My2==DA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Adaiya.jpg">
            </form>
        {% else %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aclover.jpg">
            </form>
        {% endif %}
        {% if My3==H2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2heart.jpg">
            </form>
        {% elif My3==S2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2spead.jpg">
            </form>
        {% elif My3==D2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2daiya.jpg">
            </form>
        {% elif My3==C2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2clover.jpg">
            </form>
        {% elif My3==H3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3heart.jpg">
            </form>
        {% elif My3==S3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3spead.jpg">
            </form>
        {% elif My3==D3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3daiya.jpg">
            </form>
        {% elif My3==C3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3clover.jpg">
            </form>
        {% elif My3==H4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4heart.jpg">
            </form>
        {% elif My3==S4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4spead.jpg">
            </form>
        {% elif My3==D4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4daiya.jpg">
            </form>
        {% elif My3==C4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4clover.jpg">
            </form>
        {% elif My3==H5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5heart.jpg">
            </form>
        {% elif My3==S5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5spead.jpg">
            </form>
        {% elif My3==D5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5daiya.jpg">
            </form>
        {% elif My3==C5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5clover.jpg">
            </form>
        {% elif My3==H6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6heart.jpg">
            </form>
        {% elif My3==S6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6spead.jpg">
            </form>
        {% elif My3==D6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6daiya.jpg">
            </form>
        {% elif My3==C6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6clover.jpg">
            </form>
        {% elif My3==H7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7heart.jpg">
            </form>
        {% elif My3==S7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7spead.jpg">
            </form>
        {% elif My3==D7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7daiya.jpg">
            </form>
        {% elif My3==C7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7clover.jpg">
            </form>
        {% elif My3==H8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8heart.jpg">
            </form>
        {% elif My3==S8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8spead.jpg">
            </form>
        {% elif My3==D8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8daiya.jpg">
            </form>
        {% elif My3==C8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8clover.jpg">
            </form>
        {% elif My3==H9 %}
            <form action="" method="POST" style="display: inline">               
                <img src="../static/img/9heart.jpg">
            </form>
        {% elif My3==S9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9spead.jpg">
            </form>
        {% elif My3==D9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9daiya.jpg">
            </form>
        {% elif My3==C9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9clover.jpg">
            </form>
        {% elif My3==H10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10heart.jpg">
            </form>
        {% elif My3==S10%}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10spead.jpg">
            </form>
        {% elif My3==D10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10daiya.jpg">
            </form>
        {% elif My3==C10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10clover.jpg">
            </form>
        {% elif My3==H11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jheart.jpg">
            </form>
        {% elif My3==S11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jspead.jpg">
            </form>
        {% elif My3==D11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jdaiya.jpg">
            </form>
        {% elif My3==C11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jclover.jpg">
            </form>
        {% elif My3==H12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qheart.jpg">
            </form>
        {% elif My3==S12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qspead.jpg">
            </form>
        {% elif My3==D12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qdaiya.jpg">
            </form>
        {% elif My3==C12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qclover.jpg">
            </form>
        {% elif My3==H13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kheart.jpg">
            </form>
        {% elif My3==S13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kspead.jpg">
            </form>
        {% elif My3==D13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kdaiya.jpg">
            </form>
        {% elif My3==C13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kclover.jpg">
            </form>
        {% elif My3==HA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aheart.jpg">
            </form>
        {% elif My3==SA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aspead.jpg">
            </form>
        {% elif My3==DA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Adaiya.jpg">
            </form>
        {% else %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aclover.jpg">
            </form>
        {% endif %}
        {% if My4==H2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2heart.jpg">
            </form>
        {% elif My4==S2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2spead.jpg">
            </form>
        {% elif My4==D2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2daiya.jpg">
            </form>
        {% elif My4==C2 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/2clover.jpg">
            </form>
        {% elif My4==H3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3heart.jpg">
            </form>
        {% elif My4==S3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3spead.jpg">
            </form>
        {% elif My4==D3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3daiya.jpg">
            </form>
        {% elif My4==C3 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/3clover.jpg">
            </form>
        {% elif My4==H4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4heart.jpg">
            </form>
        {% elif My4==S4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4spead.jpg">
            </form>
        {% elif My4==D4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4daiya.jpg">
            </form>
        {% elif My4==C4 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/4clover.jpg">
            </form>
        {% elif My4==H5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5heart.jpg">
            </form>
        {% elif My4==S5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5spead.jpg">
            </form>
        {% elif My4==D5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5daiya.jpg">
            </form>
        {% elif My4==C5 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/5clover.jpg">
            </form>
        {% elif My4==H6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6heart.jpg">
            </form>
        {% elif My4==S6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6spead.jpg">
            </form>
        {% elif My4==D6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6daiya.jpg">
            </form>
        {% elif My4==C6 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/6clover.jpg">
            </form>
        {% elif My4==H7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7heart.jpg">
            </form>
        {% elif My4==S7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7spead.jpg">
            </form>
        {% elif My4==D7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7daiya.jpg">
            </form>
        {% elif My4==C7 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/7clover.jpg">
            </form>
        {% elif My4==H8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8heart.jpg">
            </form>
        {% elif My4==S8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8spead.jpg">
            </form>
        {% elif My4==D8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8daiya.jpg">
            </form>
        {% elif My4==C8 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/8clover.jpg">
            </form>
        {% elif My4==H9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9heart.jpg">
            </form>
        {% elif My4==S9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9spead.jpg">
            </form>
        {% elif My4==D9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9daiya.jpg">
            </form>
        {% elif My4==C9 %}
            <form action="" method="POST" style="display: inline">                
                <img src="../static/img/9clover.jpg">
            </form>
        {% elif My4==H10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10heart.jpg">
            </form>
        {% elif My4==S10%}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10spead.jpg">
            </form>
        {% elif My4==D10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10daiya.jpg">
            </form>
        {% elif My4==C10 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/10clover.jpg">
            </form>
        {% elif My4==H11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jheart.jpg">
            </form>
        {% elif My4==S11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jspead.jpg">
            </form>
        {% elif My4==D11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jdaiya.jpg">
            </form>
        {% elif My4==C11 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Jclover.jpg">
            </form>
        {% elif My4==H12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qheart.jpg">
            </form>
        {% elif My4==S12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qspead.jpg">
            </form>
        {% elif My4==D12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qdaiya.jpg">
            </form>
        {% elif My4==C12 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Qclover.jpg">
            </form>
        {% elif My4==H13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kheart.jpg">
            </form>
        {% elif My4==S13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kspead.jpg">
            </form>
        {% elif My4==D13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kdaiya.jpg">
            </form>
        {% elif My4==C13 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Kclover.jpg">
            </form>
        {% elif My4==HA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aheart.jpg">
            </form>
        {% elif My4==SA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aspead.jpg">
            </form>
        {% elif My4==DA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Adaiya.jpg">
            </form>
        {% elif My4==CA14 %}
            <form action="" method="POST" style="display: inline">
                <img src="../static/img/Aclover.jpg">
            </form>
        {% else %}
        {% endif %}
        <div class="box">
            <p><a href="/miinya">リセット</a></p>
        </div>
    </body>
</html>
